<h1>Movie Title: <%= @movie.title %></h1>
<h4>Year of Production: <%= @movie.creation_year %></h4>
<h5>Genre: <%= @movie.genre %></h5>

<% @movie.order_actors_by_age.each do |actor| %>
  <p><%= actor.name %></p>
  <p><%= actor.age %></p>
<% end  %>

<h4>Average Age of Actors: <%= @movie.average_age_of_actors%></h5>

<h3>Add Actor to Movie</h3>

<%= form_with url: "/movies/#{@movie.id}/actors/new", method: :post, local: true do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :age %>
  <%= f.text_field :age %>
</p>
<p>
    <%= f.submit "Submit" %>
  </p>
<% end %>
